In [13]:
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import pandas as pd

In [14]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests

#Ques_1

url=requests.get('https://en.wikipedia.org/wiki/Main_Page')
Soup=BeautifulSoup(url.content)
headers=Soup.find_all(['h1','h2','h3'])
print('Headers tags :',*headers,sep='\n\n')

Headers tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label"><span>Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label"><span>Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-variants-label"><span>Variants</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label"><span>Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-cactions-label"><span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label"><span>Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label"><span>Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label"><span>Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label"><span>Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label"><span>In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label"><span>Languages</span>
</h3>

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [15]:
#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

#Ques_2

imdb=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
imdb
imdb.content
Soup=BeautifulSoup(imdb.content)
Soup

name=Soup.find_all('h3', class_="lister-item-header")
name
series_name=[]
for i in name:
    for j in i.find_all('a'):
        series_name.append(j.text.replace('\n',''))
series_name

rank=Soup.find_all('span' ,class_="lister-item-index unbold text-primary")
Rank=[]
for k in rank:
    Rank.append(k.text)
Rank

rating=Soup.find_all('div', class_="inline-block ratings-imdb-rating")
Rating=[]
for x in rating:
    Rating.append(x.text.replace('\n',''))
Rating

year=Soup.find_all('span' ,class_="lister-item-year text-muted unbold")
Year=[]
for l in year:
    Year.append(l.text)
Year

import pandas as pd

df=pd.DataFrame({})
df['Rank']=Rank[:10]
df['Movie_name']=series_name[:10]
df['Rating']=Rating[:10]
df['Year_of_release']=Year[:10]
df.set_index('Rank',inplace=True)
df

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

                                         Movie_name Rating Year_of_release
Rank
1.                         The Shawshank Redemption    9.3          (1994)
2.                                    The Godfather    9.2          (1972)
3.                                  The Dark Knight    9.0          (2008)
4.                           The Godfather: Part II    9.0          (1974)
5.                                     12 Angry Men    9.0          (1957)
6.    The Lord of the Rings: The Return of the King    8.9          (2003)
7.                                     Pulp Fiction    8.9          (1994)
8.                                 Schindler's List    8.9          (1993)
9.                                        Inception    8.8          (2010)
10.                                      Fight Club    8.8          (1999)

In [76]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

#Ques_3

new=requests.get('https://www.imdb.com/india/top-rated-indian-movies/?sort=rk,asc&mode=simple&page=1')
new
new.content
Soup=BeautifulSoup(new.content)
Soup

Name=Soup.find_all('td', class_='titleColumn')
name=[]
for i in Name:
    for k in i.find_all('a'):
        name.append(k.text.replace('\n',''))
name

Rating=Soup.find_all('td', class_="ratingColumn imdbRating")
rating=[]
for j in Rating:
    rating.append(j.text.replace('\n',''))
rating

Year=Soup.find_all('span', class_="secondaryInfo")
year=[]
for l in Year:
    year.append(l.text)
year


DF=pd.DataFrame({})
DF['Movie_name']=name[:10]
DF['IMDB_rating']=rating[:10]
DF['Year_of_release']=year[:10]
DF.set_index('Movie_name')

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

                  IMDB_rating Year_of_release
Movie_name
Nayakan                   8.5          (1987)
Anbe Sivam                8.5          (2003)
Pariyerum Perumal         8.5          (2018)
C/o Kancharapalem         8.5          (2018)
Golmaal                   8.5          (1979)
Apur Sansar               8.5          (1959)
Manichitrathazhu          8.5          (1993)
Kireedam                  8.5          (1989)
Natsamrat                 8.4          (2016)
Pather Panchali           8.4          (1955)

In [75]:
#Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

#Ques_4

from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import pandas as pd

new_book=requests.get('https://bookpage.com/reviews')
new_book

Soup=BeautifulSoup(new_book.content)

book=Soup.find_all('h4' ,class_="italic")
book_name=[]
for i in book:
    for j in i.find_all('a'):
        book_name.append(j.text.replace('★',''))
book_name

author=Soup.find_all('p' ,class_="sans bold")
author_name=[]
for k in author:
    author_name.append(k.text.replace('\n',''))
author_name

genre=Soup.find_all('p', class_="genre-links hidden-phone")
Genre=[]
for g in genre:
    Genre.append(g.text.replace('\n',''))
Genre

review=Soup.find_all('p',class_="excerpt")
Review=[]
for r in review:
    Review.append(r.text.replace('\n',''))
Review

df=pd.DataFrame({})
df['Book name']=book_name
df['Author name']=author_name
df['Genre']=Genre
df['Review']=Review
df.sample(5)

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

,Book name,Author name,Genre,Review
1,Seeing Ghosts,Kat Chow,Nonfiction / Memoir / Family & Relationships,"Like the experience of grief itself, Kat Chow’..."
6,Einstein,Torben Kuhlmann,Children's / Children's Picture Book,Author-illustrator Torben Kuhlmann explores th...
4,The Guide,Peter Heller,Fiction / Speculative Fiction / Thriller,The Guide is a glorious getaway in every sense...
3,The Maidens,"Alex Michaelides, Louise Brealey, Kobna Holdbr...",Audio / Mystery & Suspense / Suspense,Actors Louise Brealey and Kobna Holdbrook-Smit...
5,The Love Songs of W.E.B. Du Bois,Honorée Fanonne Jeffers,Fiction / Historical Fiction,Honorée Fanonne Jeffers weaves an epic ancestr...

In [67]:
#Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
#i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
#iii) Top 10 ODI bowlers along with the records of their team and rating.

#Ques_5

#i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.


url=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
Soup=BeautifulSoup(url.content)
Soup

pos=Soup.find_all('td' ,class_="table-body__cell table-body__cell--position u-text-right")
Pos=[]
for p in pos:
    Pos.append(p.text.replace('\n',''))
Pos

team=Soup.find_all('td' ,class_="table-body__cell rankings-table__team")
Team=[]
for t in team:
    team1=t.text.replace('\n','')
    team2=team1.replace('ENG','')
    team3=team2.replace('AUS','')
    team4=team3.replace('IND','')
    team5=team4.replace('SA','')
    team6=team5.replace('PAK','')
    team7=team6.replace('BAN','')
    team8=team7.replace('WI','')
    team9=team8.replace('SL','')
    team10=team9.replace('AFG','')
    Team.append(team10)
Team

matches=Soup.find_all('td' ,class_="table-body__cell u-center-text")
Matches=[]
Points_2=[]
for m in range(len(matches)):
    if m%2 ==0:
        Matches.append(matches[m].text)
    else:
        Points_2.append(matches[m].text)
Matches

rating=Soup.find_all('td' ,class_="table-body__cell u-text-right rating")
Ratings=[]
for m in rating:
    Ratings.append(m.text)
Ratings

# points=Soup.find_all('td' ,class_="table-body__cell u-center-text")
# Points=[]
# for p in points:
    
# Points

Team1=Soup.find('span' ,class_="u-hide-phablet")
Team_1=Team1.text

Points1=Soup.find('td' ,class_="rankings-block__banner--points")
Points_1=Points1.text.replace('873','').strip()

Match1=Soup.find('td' ,class_="rankings-block__banner--matches")
Match_1=Match1.text.replace('\n','').strip()

Rating1=Soup.find('td' ,class_="rankings-block__banner--rating u-text-right")
Rating_1=Rating1.text.replace('\n','').strip()
Rating_1

Pos1=Soup.find('td', class_="rankings-block__banner--pos")
Pos_1=Pos1.text
Pos_1

DF1=pd.DataFrame({'Position':Pos[:9],'Teams':Team[:9],'Matches':Matches[:9],'Points':Points_2[:9],'Rating':Ratings[:9]})
DF1

d1={'Position':[Pos_1],'Teams':[Team_1],'Matches':[Match_1],'Points':[Points_1],'Rating':[Rating_1]}
df1=pd.DataFrame(data=d1)
df1

new_df1=pd.concat([df1,DF1])
new_df1.set_index('Position',inplace=True)
new_df1

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

         Matches Points Rating         Teams
Position
1             17  2,054    121   New Zealand
2             32  3,793    119       England
3             28  3,244    116     Australia
4             32  3,624    113         India
5             22  2,267    103  South Africa
6             27  2,524     93      Pakistan
7             29  2,639     91    Bangladesh
8             30  2,523     84   West Indies
9             29  2,303     79     Sri Lanka
10            17  1,054     62   Afghanistan

In [47]:
#Ques_5
#2.0

#odi batsman ranking

page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page
page.content
Soup=BeautifulSoup(page.content)
Soup.prettify
table=Soup.find_all('td' ,class_="table-body__cell name")

Name=[]
for n in table:
    for j in n.find_all('a'):
        Name.append(j.text.replace('\n',''))
Name

team=Soup.find_all('span' ,class_="table-body__logo-text")
Team=[]
for t in team:
    Team.append(t.text.strip())
Team

rating=Soup.find_all('td' ,class_="table-body__cell u-text-right rating")
Rating=[]
for r in rating:
    Rating.append(r.text)
Rating

DF=pd.DataFrame({'Player Name':Name,'Team':Team,'Rating':Rating})

name1=Soup.find('div' ,class_="rankings-block__banner--name")
Name1=name1.text

team1=Soup.find('div' ,class_="rankings-block__banner--nationality")
Team1=team1.text.replace('873','').strip()

rating1=Soup.find('div' ,class_="rankings-block__banner--rating")
Rating1=rating1.text

d={'Player Name':[Name1],'Team':[Team1],'Rating':[Rating1]}
df=pd.DataFrame(data=d)
new_df=pd.concat([df,DF])
new_df.set_index('Player Name',inplace=True)
new_df[0:10]

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

                Rating Team
Player Name
Babar Azam         873  PAK
Virat Kohli        844  IND
Rohit Sharma       813  IND
Ross Taylor        801   NZ
Aaron Finch        779  AUS
Jonny Bairstow     775  ENG
David Warner       762  AUS
Quinton de Kock    758   SA
Shai Hope          758   WI
Kane Williamson    754   NZ

In [20]:
#Ques_5
#3.0

#odi bowling ranking

import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd

page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page
page.content
Soup=BeautifulSoup(page.content)
Soup.prettify
table=Soup.find_all('td', class_="table-body__cell name")
Name=[]
for n in table:
    for j in n.find_all('a'):
        Name.append(j.text.replace('\n',''))
Name
team=Soup.find_all('td' ,class_="table-body__cell nationality-logo")
Team=[]
for t in team:
    Team.append(t.text.strip())
Team
rating=Soup.find_all('td' ,class_="table-body__cell u-text-right rating")
Rating=[]
for r in rating:
    Rating.append(r.text)
Rating

DF_1=pd.DataFrame({'Player Name':Name[9:18],'Team':Team[9:18],'Rating':Rating[9:18]})

Name1=Soup.find_all('div', class_="rankings-block__banner--name")
Name_1=Name1[1].text

Team1=Soup.find_all('div' ,class_="rankings-block__banner--nationality")
Team_1=Team1[1].text.replace('\n','').split()[0]

Rating1=Soup.find_all('div', class_="rankings-block__banner--rating")
Rating_1=Rating1[1].text.replace('\n','')

d_1={'Player Name':[Name_1],'Team':[Team_1],'Rating':[Rating_1]}
df_1=pd.DataFrame(data=d_1)
new_df_1=pd.concat([df_1,DF_1])
new_df_1.set_index('Player Name',inplace=True)

new_df_1

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

                 Rating Team
Player Name
Trent Boult         737   NZ
Josh Hazlewood      709  AUS
Mujeeb Ur Rahman    708  AFG
Chris Woakes        700  ENG
Mehedi Hasan        692  BAN
Matt Henry          691   NZ
Jasprit Bumrah      679  IND
Mitchell Starc      652  AUS
Shakib Al Hasan     650  BAN
Kagiso Rabada       648   SA

In [49]:
#Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
#i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
#ii) Top 10 women’s ODI players along with the records of their team and rating.
# iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.
#Ques_6

#i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.


Women=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
Soup_1=BeautifulSoup(Women.content)
Soup_1

W_pos=Soup_1.find_all('td' ,class_="table-body__cell table-body__cell--position u-text-right")
Pos_W=[]
for p in W_pos:
    Pos_W.append(p.text)

W_team=Soup_1.find_all('span' ,class_="u-hide-phablet")
Team_W=[]
for t in W_team[1:10]:
    Team_W.append(t.text)

W_match=Soup_1.find_all('td' ,class_="table-body__cell u-center-text")
Matches_W=[]
Points_W=[]
for m in range(len(W_match)):
    if m%2 ==0:
        Matches_W.append(W_match[m].text)
    else:
        Points_W.append(W_match[m].text)

W_rating=Soup_1.find_all('td' ,class_="table-body__cell u-text-right rating")
Ratings_W=[]
for m in W_rating:
    Ratings_W.append(m.text)

W_Team1=Soup_1.find('span' ,class_="u-hide-phablet")
Team_1W=W_Team1.text

W_Points1=Soup_1.find('td' ,class_="rankings-block__banner--points")
Points_1W=W_Points1.text.replace('\n','').strip()

W_Match1=Soup_1.find('td' ,class_="rankings-block__banner--matches")
Match_1W=W_Match1.text.replace('\n','').strip()

W_Rating1=Soup_1.find('td' ,class_="rankings-block__banner--rating u-text-right")
Rating_1W=W_Rating1.text.replace('\n','').strip()

W_Pos1=Soup_1.find('td', class_="rankings-block__banner--pos")
Pos_1W=W_Pos1.text

W_DF=pd.DataFrame({'Position':Pos_W,'Teams':Team_W,'Matches':Matches_W,'Points':Points_W,'Rating':Ratings_W})
W_DF

df_W={'Position':[Pos_1W],'Teams':[Team_1W],'Matches':[Match_1W],'Points':[Points_1W],'Rating':[Rating_1W]}
df_W1=pd.DataFrame(data=df_W)
df_W1

new_df_W1=pd.concat([df_W1,W_DF])
new_df_W1.set_index('Position',inplace=True)
new_df_W1

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

         Matches Points Rating         Teams
Position
1             18  2,955    164     Australia
2             20  2,370    119       England
3             24  2,828    118  South Africa
4             23  2,535    110         India
5             21  1,947     93   New Zealand
6             17  1,427     84   West Indies
7             20  1,496     75      Pakistan
8              5    306     61    Bangladesh
9             11    519     47     Sri Lanka
10             2     25     13       Ireland

In [22]:
#Ques_6
#2.0

#odi womens ranking

page_new=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page_new
page_new.content
Soup=BeautifulSoup(page_new.content)
Soup.prettify

table_W=Soup.find_all('td' ,class_="table-body__cell name")
Name_W=[]
for n in table_W[0:9]:
    for j in n.find_all('a'):
        Name_W.append(j.text.replace('\n',''))
        
team_W=Soup.find_all('span' ,class_="table-body__logo-text")
Team_W=[]
for t in team_W[0:9]:
    Team_W.append(t.text.strip())
    
rating_W=Soup.find_all('td' ,class_="table-body__cell u-text-right rating")
Rating_W=[]
for r in rating_W[0:9]:
    Rating_W.append(r.text)

DF_W=pd.DataFrame({'Player Name':Name_W,'Team':Team_W,'Rating':Rating_W})

name1_W=Soup.find('div' ,class_="rankings-block__banner--name")
Name1_W=name1_W.text

team1_W=Soup.find('div' ,class_="rankings-block__banner--nationality")
Team1_W=team1_W.text.replace('762','').strip()

# rank1=Soup.find('div', class_="rankings-block__banner--pos")
# Rank1=rank1.text.replace('\n','').strip()

rating1_W=Soup.find('div' ,class_="rankings-block__banner--rating")
Rating1_W=rating1_W.text

d_W={'Player Name':[Name1_W],'Team':[Team1_W],'Rating':[Rating1_W]}
df_W=pd.DataFrame(data=d_W)
new_df_W=pd.concat([df_W,DF_W])
new_df_W.set_index('Player Name',inplace=True)
new_df_W

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

                  Rating Team
Player Name
Mithali Raj          762  IND
Lizelle Lee          758   SA
Alyssa Healy         756  AUS
Tammy Beaumont       754  ENG
Stafanie Taylor      736   WI
Meg Lanning          723  AUS
Amy Satterthwaite    715   NZ
Natalie Sciver       706  ENG
Smriti Mandhana      701  IND
Laura Wolvaardt      683   SA

In [23]:
#Ques_6
#3.0

#odi bowling ranking

import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd

page_AW=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page_AW
page_AW.content
Soup=BeautifulSoup(page_AW.content)
Soup.prettify

table_AW=Soup.find_all('td', class_="table-body__cell name")
Name_AW=[]
for n in table_AW[18:27]:
    for j in n.find_all('a'):
        Name_AW.append(j.text.replace('\n',''))

team_AW=Soup.find_all('span' ,class_="table-body__logo-text")
Team_AW=[]
for t in team_AW[18:27]:
    Team_AW.append(t.text.strip())
    
rating_AW=Soup.find_all('td' ,class_="table-body__cell u-text-right rating")
Rating_AW=[]
for r in rating_AW[18:27]:
    Rating_AW.append(r.text)

DF_AW=pd.DataFrame({'Player Name':Name_AW,'Team':Team_AW,'Rating':Rating_AW})

Name1_AW=Soup.find_all('div', class_="rankings-block__banner--name")
Name_1_AW=Name1_AW[2].text

Team1_AW=Soup.find_all('div' ,class_="rankings-block__banner--nationality")
Team_1_AW=Team1_AW[2].text.replace('\n','').split()[0]

Rating1_AW=Soup.find_all('div', class_="rankings-block__banner--rating")
Rating_1_AW=Rating1_AW[2].text.replace('\n','')

d_AW={'Player Name':[Name_1_AW],'Team':[Team_1_AW],'Rating':[Rating_1_AW]}
df_AW=pd.DataFrame(data=d_AW)
new_df_AW=pd.concat([df_AW,DF_AW])
new_df_AW.set_index('Player Name',inplace=True)

new_df_AW

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

                 Rating Team
Player Name
Marizanne Kapp      418   SA
Ellyse Perry        418  AUS
Stafanie Taylor     394   WI
Natalie Sciver      365  ENG
Deepti Sharma       331  IND
Jess Jonassen       307  AUS
Ashleigh Gardner    252  AUS
Dane van Niekerk    243   SA
Sophie Devine       242   NZ
Katherine Brunt     239  ENG

In [41]:
#Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data 
#should include Product Name, Price, Image URL and Average Rating.

#Ques_7

from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import pandas as pd
from lxml import etree

HEADERS = ({'User-Agent':
            'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 \
            (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36',\
            'Accept-Language': 'en-US, en;q=0.5'})


url_1=requests.get('https://www.amazon.in/s?k=mobile+under+20000&ref=nb_sb_noss_1',headers=HEADERS)
Soup=BeautifulSoup(url_1.content)
Soup.prettify()

# soup2 = BeautifulSoup(url_1.content, "html.parser")
# dom = etree.HTML(str(soup2))
# print(dom.xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[1]/div/span/div/div/div/div/div[2]/div[2]/div/div/div[3]/div[1]/div/div[1]/div[2]/a/span[1]/span[2]/span[2]'))

product_name=Soup.find_all('h2', class_="a-size-mini a-spacing-none a-color-base s-line-clamp-2")
Product_name=[]
for p in product_name:
    for j in p.find_all('a'):
        Product_name.append(j.text.strip())
Product_name

price_item=Soup.find_all('span' ,class_="a-offscreen")
Price_item=[]
for t in price_item:
    Price_item.append(t.text)
Price_item

average_rating=Soup.find_all('i' ,class_="a-icon a-icon-star-small a-star-small-4 aok-align-bottom")
Average_rating=[]
for a in average_rating[0:15]:
    Average_rating.append(a.text)
Average_rating

image_url=Soup.find_all('img' ,class_="s-image")
Image_url=[]
for a in image_url:
    Image_url.append(a.attrs['src'])

pd=pd.DataFrame({})
pd['Product Name']=Product_name[:15]
pd['Price']=Price_item[:15]
pd['Image URL']=Image_url[:15]
pd['Average Rating']=Average_rating[:15]
pd.set_index('Product Name')

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

,Price,Image URL,Average Rating
Product Name,,,
"Samsung Galaxy M31s (Mirage Blue, 8GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime","₹14,999.00",https://m.media-amazon.com/images/I/61d-phh4Gf...,4.2 out of 5 stars
"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)","₹19,999.00",https://m.media-amazon.com/images/I/71-Su4Wr0H...,4.2 out of 5 stars
"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery","₹16,999",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.1 out of 5 stars
"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor","₹24,999",https://m.media-amazon.com/images/I/71A9Vo1Bat...,4.2 out of 5 stars
"realme C11 (2021) (Cool Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers","₹14,999",https://m.media-amazon.com/images/I/71FYSKYFup...,4.1 out of 5 stars
"Samsung Galaxy M31 (Space Black, 6GB RAM, 128GB Storage)","₹19,999",https://m.media-amazon.com/images/I/71OxJeyywS...,4.1 out of 5 stars
"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor | Alexa Hands-Free Capable","₹6,999",https://m.media-amazon.com/images/I/61LHaUOheh...,4.1 out of 5 stars
"Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor","₹8,499",https://m.media-amazon.com/images/I/81vixbGM2E...,4.1 out of 5 stars
"Samsung Galaxy M02s (Black,4GB RAM, 64GB Storage) | 5000 mAh | Triple Camera","₹8,999",https://m.media-amazon.com/images/I/71IkA3T7hI...,3.9 out of 5 stars
"Redmi Note 10 Pro Max (Dark Night, 6GB RAM, 128GB Storage) -108MP Quad Camera | 120Hz Super Amoled Display","₹10,999",https://m.media-amazon.com/images/I/81Vpy0XrvF...,4.2 out of 5 stars
"Oppo F19 (Prism Black, 6GB RAM, 128GB Storage) - 6.43"" Inch AMOLED Punch-Hole Display | in-Display Fingerprint 3.0 | 5000 mAh Battery | 33W Flash Charging","₹6,999",https://m.media-amazon.com/images/I/71crCF+ogw...,4.2 out of 5 stars
"Mi 11X Pro 5G (Lunar White, 8GB RAM, 128GB Storage) | Snapdragon 888 | 108MP Camera | 6 Month Free Screen Replacement for Prime | Additional 5000 Off on Exchange","₹7,999",https://m.media-amazon.com/images/I/71+g+SNcIL...,4.2 out of 5 stars
"Redmi 9A (Midnight Black, 2GB RAM, 32GB Storage) | 2GHz Octa-Core Helio G25 Processor","₹14,999",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.0 out of 5 stars
"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers","₹19,999",https://m.media-amazon.com/images/I/61CnyJ-IbM...,4.0 out of 5 stars
"Redmi Note 10 Pro (Glacial Blue, 6GB RAM, 128GB Storage) -120hz Super Amoled Display|64MP with 5mp Super Tele- Macro | Additional 1000 Off on Exchange","₹13,499",https://m.media-amazon.com/images/I/81nndQAg2n...,4.0 out of 5 stars

In [78]:
#Write a python program to extract information about the local weather from the National Weather Service website of USA, 
#https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the
#city. The data should include period, short description, temperature and description.

#Ques_8
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import pandas as pd


url2=requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YR_iS4gzbIU')
Soup=BeautifulSoup(url2.content)
Soup.prettify
period=Soup.find_all('p', class_="period-name")
Period=[]
for p in period:
    Period.append(p.text.replace('\n',''))
Period

short_d=Soup.find_all('p' ,class_="short-desc")
Short_d=[]
for s in short_d:
    Short_d.append(s.text)
Short_d

temp=Soup.find_all('p', class_="temp")
Temp=[]
for t in temp:
    Temp.append(t.text)

desc=Soup.find_all('div', class_="col-sm-10 forecast-text")
Desc=[]
for d in desc:
    Desc.append(d.text.strip())
Desc

df=pd.DataFrame({})
df['Period']=Period[:10]
df['Short Description']=Short_d[:10]
df['Temperature']=Temp[:10]
df['Description']=Desc[:9]
df.set_index('Period')

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

,Short Description,Temperature,Description
Period,,,
Today,Sunny thenHaze,High: 76 °F,Widespread haze between 1pm and 5pm. Areas of ...
Tonight,Haze andBreezy,Low: 58 °F,Widespread haze before 5am. Areas of smoke bef...
Saturday,Haze,High: 77 °F,"Widespread haze before 3pm. Sunny, with a high..."
SaturdayNight,Mostly Clearand Breezythen MostlyClear,Low: 57 °F,"Mostly clear, with a low around 57. Breezy, wi..."
Sunday,Mostly Sunnythen Sunnyand Breezy,High: 73 °F,"Sunny, with a high near 73. Breezy, with a wes..."
SundayNight,Mostly Clearand Breezythen PartlyCloudy,Low: 56 °F,"Mostly clear, with a low around 56. Breezy."
Monday,Mostly Sunny,High: 68 °F,"Mostly sunny, with a high near 68."
MondayNight,Mostly Clear,Low: 55 °F,"Mostly clear, with a low around 55."
Tuesday,Sunny,High: 66 °F,"Sunny, with a high near 66."

In [79]:
#Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company 
#name, CTC, and apply date.

#Ques_9

from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import pandas as pd

url2=requests.get('https://internshala.com/fresher-jobs')
url2
Soup=BeautifulSoup(url2.content)
Soup.prettify

title=Soup.find_all('div' ,class_="heading_4_5 profile")
Title=[]
for t in title:
    for i in t.find_all('a'):
        Title.append(i.text.replace('\n',''))
# Title

name=Soup.find_all('div', class_="heading_6 company_name")
Name=[]
for n in name:
    Name.append(n.text.replace('\n','').strip())
# Name

ctc=Soup.find_all('div' ,class_="item_body")
CTC=[]
for c in ctc:
    if c.text.replace('\n','').strip().endswith('LPA'):
        CTC.append(c.text.replace('\n','').strip())
# CTC

applydate=Soup.find_all('div', class_="other_detail_item_row")
Apply=[]
for a in applydate:
    if a.text.replace('\n','').strip().startswith('Apply'):
        Apply.append(a.text.replace('\n','').strip())
# Apply

D2=pd.DataFrame({})
D2['Job Title']=Title[0:10]
D2['Company Name']=Name[:10]
D2['CTC']=CTC[:10]
D2['Apply Date']=Apply[:10]
D2.set_index('Job Title')

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

,Company Name,CTC,Apply Date
Job Title,,,
OMNI SPORT LEADER,Decathlon Sport India Private Limited,3 - 4 LPA,Apply By18 Sep' 21
Executive/Senior Executive - Partnerships,Freecharge Payments Technology Private Limited,3 - 4.2 LPA,Apply By11 Sep' 21
Executive - Sales,Freecharge Payments Technology Private Limited,3 - 3.5 LPA,Apply By11 Sep' 21
Junior Operations Executive,Freecharge Payments Technology Private Limited,3 - 4 LPA,Apply By4 Sep' 21
Sales Executive,Hedge Homes,3 - 3.5 LPA,Apply By26 Sep' 21
Organizational Behavior Specialist,SysCloud Technologies Private Limited,4.5 - 6 LPA,Apply By26 Sep' 21
International Online Sales Executive,Intesome,3 - 4 LPA,Apply By26 Sep' 21
Digital Marketing Specialist,Ohana Academy,3 - 5 LPA,Apply By26 Sep' 21
Buddy Counselor (Study Abroad),UniAcco,3 - 5 LPA,Apply By26 Sep' 21
Student Success - Teacher,Code A Block (KEDTech LLC),4 - 7.2 LPA,Apply By25 Sep' 21

In [52]:
#Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, 
#location, area, emi and price

#Ques_10

from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
import pandas as pd

url3=requests.get('https://www.nobroker.in/property/sale/mumbai/Vasai%20West?searchParam=W3sibGF0IjoxOS4zNjY0NjMxLCJsb24iOjcyLjgxNTUxMzYsInBsYWNlSWQiOiJDaElKWVp6dnVpcXM1enNSREU4b0ZhdVdJbEEiLCJwbGFjZU5hbWUiOiJWYXNhaSBXZXN0In1d&radius=2.0&type=BHK2&propertyAge=0')
url3
Soup=BeautifulSoup(url3.content)
Soup.prettify

title=Soup.find('h2', class_="heading-6 font-semi-bold nb__1AShY")
Title=title.text.strip()

location=Soup.find('div', class_="nb__2CMjv")
Location=location.text

area=Soup.find('div', class_="font-semi-bold heading-6",id='minRent')
Area=area.text

emi=Soup.find('div' ,class_="font-semi-bold heading-6", id='roomType')
EMI=emi.text

price=Soup.find('div', class_="font-semi-bold heading-6",id='')
Price=price.text

D1=pd.DataFrame({'Title':[Title],'Location':[Location],'Area':[Area],'EMI':[EMI],'Price':[Price]})

D1.set_index('Title')

E:\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

,Area,EMI,Location,Price
Title,,,,
"2 BHK Flat For Sale In Agarwal Complex , Galaxy In Vasai West",910 sqft,"₹44,705/Month","Near Macdonald, near kauls heritage",₹78 Lacs